
<table border="1px">
  <tr>
    <td><input type="text" placeholder="Поиск по имени" [(ngModel)]="searchStr"></td>
    <button type="button" (click)="search()">Поиск</button>
    <button type="button" (click)="refresh()">обновить таблицу</button>
    <!-- <td><input type="text" placeholder="Поиск по email" [(ngModel)]="searchEmail"></td>
    <td><input type="text" placeholder="Поиск по адресу" [(ngModel)]="searchAddress"></td> -->
  </tr>
  <tr>
    <th>имя</th>
    <th>E-mail</th>
    <th>Адрес</th>
  </tr>
  <tr  *ngFor="let user of users" >
    <td>{{user.name+' '+user.username }}</td>
    <td>{{user.email}}</td>
    <td>{{user.address.street +' '+user.address.suite +' '+user.address.city +' '+user.address.zipcode }}</td>
  </tr>
</table>
<button type="button" (click)="addUser()">Добавить</button>
<button type="button" (click)="removeUser()">Удалить</button>
<button type="button" (click)="changeUser()">Изменить пользователя</button>


